.radar-chart .level {
  stroke: rgb(60,60,60);
  color: rgb(60,60,60);
  stroke-width: 1;
}

.radar-chart .axis line {
  stroke: green;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.radar-chart .axis .rclegend {
  font-family: sans-serif;
  font-size: 10px;
}
.radar-chart .axis .rclegend.top {
  dy:1em;
}
.radar-chart .axis .rclegend.left {
  text-anchor: end;
}
.radar-chart .axis .rclegend.middle {
  text-anchor: middle;
}
.radar-chart .axis .rclegend.right {
  text-anchor: start;
}

.radar-chart .tooltip {
  font-family: sans-serif;
  font-size: 13px;
  transition: opacity 200ms;
  opacity: 0;
}
.radar-chart .tooltip.visible {
  opacity: 1;
}

/* area transition when hovering */
.radar-chart .area {
  stroke-width: 1;
  stroke-opacity: 1;
  fill-opacity: 0;
}

.radar-chart .circle {
  fill-opacity: 00;
}

/* transitions */
.radar-chart .area, .radar-chart .circle {
  transition: opacity 300ms, fill-opacity 200ms;
  opacity: 1;
}

.radar-chart .d3-enter, .radar-chart .d3-exit {
  opacity: 1;
}